@charset "UTF-8";
/* CSS Document */

@font-face{
font-family: 'AktivGrotesk_Regular';
src: url( 'http://fnt.webink.com/wfs/?drawer=E5785D29-D213-498A-99B7-6A68A0682816&font=35439AB4-AE5C-6414-19AF-3BEAA3F5D579');
font-weight:normal;font-style:normal;font-variant:normal;
}
