html, body {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
} 

body {
	background: url("/soe/media/img/bg-body.png");
	color: #222;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

#main {
	background: url("/soe/media/img/bg-main.png") repeat-y;
}

h2 {
	font-size: 14px;
	color: #666;	
	margin-right: 72px;
	padding-top: 6px;
	height: 28px;
}

#title h2 span {
	padding-left: 45px;
}

h2.demographics {
	background: #f4f4f5 url("/soe/media/img/nav-demographics.png") no-repeat;
}
h2.economy {
	background: #f4f4f5 url("/soe/media/img/nav-economy.png") no-repeat;
}
h2.education {
	background: #f4f4f5 url("/soe/media/img/nav-education.png") no-repeat;
}
h2.environment-and-recreation {
	background: #f4f4f5 url("/soe/media/img/nav-environment.png") no-repeat;
}
h2.housing {
	background: #f4f4f5 url("/soe/media/img/nav-housing.png") no-repeat;
}
h2.public-health {
	background: #f4f4f5 url("/soe/media/img/nav-public-health.png") no-repeat;
}
h2.public-safety {
	background: #f4f4f5 url("/soe/media/img/nav-public-safety.png") no-repeat;
}
h2.transportation {
	background: #f4f4f5 url("/soe/media/img/nav-transportation.png") no-repeat;
}
h2.civic-vitality {
	background: #f4f4f5 url("/soe/media/img/nav-civic-vitality.png") no-repeat;
}
h2.references {
	background: #f4f4f5 url("/soe/media/img/nav-references.png") no-repeat;
}

h3, h4 {
	font-family: AktivGrotesk_Regular, Verdana, sans-serif;
	color: #222;
}

h3 {
	font-size: 22px;
	margin-top: 10px;
}

h4 {
	font-size: 14px;
}

a, a:hover, a:active, a:visited {
	color: #004990;
}

a[target="_blank"] { 
	background: url("/soe/media/img/icon_external.png") center right no-repeat;
	padding: 5px 20px 5px 0;
}

a[href$='.xls'] {
	padding: 5px 20px 5px 0;
	background: transparent url("/soe/media/img/icon_xls.png") no-repeat center right;
}

a[href$='.pdf'] { 
	padding: 5px 20px 5px 0;
	background: transparent url("/soe/media/img/icon_pdf.png") no-repeat center right;
}

a[href$='.doc'] { 
	padding: 5px 20px 5px 0;
	background: transparent url("/soe/media/img/icon_doc.png") no-repeat center right;
}

.loginfo {
	float: right;
}

#content {
	padding-left: 10px;
}

#content, #menu {
	margin-right: 0px;
}

#masthead, #title, #textcol {
	margin-left: -10px;
}

#masthead {
	height: 147px;
	background: url("/soe/media/img/masthead.png") no-repeat;
	margin-bottom: 17px;
}

#masthead a h1 {
	margin: 116px 0 0 35px;
	font-size: 26px;
	letter-spacing: 3px;
	width: 525px;
	height: 30px;
	text-indent: -9999px;
}

#content td {
	border: solid 1px #222;
}

div.notice p {
	margin-bottom: 0px;
}

#logo {
	margin: 48px 0 36px 36px;
}

#menu h4 {
	font-size: 11px;
	line-height: 11px;
	height: 24px;
	margin: 0 0 1px 36px;
	padding-left: 45px;
	padding-top: 10px;
}

#menu h4.demographics {
	background: #fff url("/soe/media/img/nav-demographics.png") no-repeat;
}
#menu h4.demographics:hover, #menu h4.demographics.active {
	background: #9358e1 url("/soe/media/img/nav-demographics.png") no-repeat;
}

#menu h4.economy {
	background: #fff url("/soe/media/img/nav-economy.png") no-repeat;
}
#menu h4.economy:hover, #menu h4.economy.active {
	background: #ebc900 url("/soe/media/img/nav-economy.png") no-repeat;
}

#menu h4.education {
	background: #fff url("/soe/media/img/nav-education.png") no-repeat;
}
#menu h4.education:hover, #menu h4.education.active {
	background: #1186b1 url("/soe/media/img/nav-education.png") no-repeat;
}

#menu h4.environment-and-recreation {
	background: #fff url("/soe/media/img/nav-environment.png") no-repeat;
	height: 28px;
	padding-top: 6px;
}
#menu h4.environment-and-recreation:hover, #menu h4.environment-and-recreation.active {
	background: #98b901 url("/soe/media/img/nav-environment.png") no-repeat;
}

#menu h4.housing {
	background: #fff url("/soe/media/img/nav-housing.png") no-repeat;
}
#menu h4.housing:hover, #menu h4.housing.active {
	background: #b07123 url("/soe/media/img/nav-housing.png") no-repeat;
}

#menu h4.public-health {
	background: #fff url("/soe/media/img/nav-public-health.png") no-repeat;
}
#menu h4.public-health:hover, #menu h4.public-health.active {
	background: #df3c1f url("/soe/media/img/nav-public-health.png") no-repeat;
}

#menu h4.public-safety {
	background: #fff url("/soe/media/img/nav-public-safety.png") no-repeat;
}
#menu h4.public-safety:hover, #menu h4.public-safety.active {
	background: #4e6cee url("/soe/media/img/nav-public-safety.png") no-repeat;
}

#menu h4.transportation {
	background: #fff url("/soe/media/img/nav-transportation.png") no-repeat;
}
#menu h4.transportation:hover, #menu h4.transportation.active {
	background: #469a93 url("/soe/media/img/nav-transportation.png") no-repeat;
}

#menu h4.civic-vitality {
	background: #fff url("/soe/media/img/nav-civic-vitality.png") no-repeat;
}
#menu h4.civic-vitality:hover, #menu h4.civic-vitality.active {
	background: #dda400 url("/soe/media/img/nav-civic-vitality.png") no-repeat;
}

#menu h4.references {
	background: #fff url("/soe/media/img/nav-references.png") no-repeat;
}
#menu h4.references:hover, #menu h4.references.active {
	background: #aab2b4 url("/soe/media/img/nav-references.png") no-repeat;
}

#menu h4 a, #menu ul li a {
	color: #222;
	text-decoration: none;
}

#menu ul li a:hover {
	color: #222;
	text-decoration: underline;
}

#menu ul {
	list-style-type: none;
	margin-top: 10px;
	margin-left: 65px;
}

#menu ul li {
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 4px;
}

#title, #textcol {
	padding-left: 36px;
}

#imagecol {
	margin-left: -36px;
	padding-top: 46px;
}

#imagecol a, #imagecol p, #related {
	margin-left: 46px;
}

#imagecol img {
	max-width: 220px;
}

#imagecol .small .caption {
	font-style: italic;
}

#related h4 {
	margin-bottom: 6px;
}

#related li, #related li a {
	margin-left: 0;
	padding-left: 0;
}

li.active {
	font-weight: bold;
}

.footnote, .reference {
	font-size: xx-small;
	vertical-align: top;
}

div.footnotes {
	border-top: 1px solid #000;
	padding-top: 18px;
}

div.footnotes p {
	margin-bottom: 6px;
}

div.footnotes p a.footnote {
	text-decoration: none;
}

.reference-nr {
	font-weight: bold;
}

.notice {
	background:#ddd;
	border: none;
}

/* override jquery lightbox */

#lightbox-image-details-caption {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
