{% extends "base.html" %}
{% load i18n %}

{% block menu %}

{% for topicarea in topicareas %}

<h4 class="{{ topicarea.slug }}"><a href="{{ base_url }}{{ topicarea.slug }}" title="{{ topicarea.title }}">{{ topicarea.title }}</a></h4>

{% endfor %}

{% endblock %}

{% block nocol %}
									
	<p class="index quote prepend-1 span-13 last">An equitable region, where <em>"all people have full and equal access to opportunities that enable them to attain their full potential"</em> 
		is one featuring a diverse labor force prepared for the region’s knowledge economy; healthy residents and low health care costs; 
		and communities where people of different ages, incomes, races and ethnicities have real options to live, work, learn and play side by side.</p>
	
	<h3 class="span-16 last">The MetroFuture equity goals</h3>
	
	<p class="span-16 last">
		<a href="http://metrofuture.org" title="MetroFuture - Making a Greater Boston Region">MetroFuture</a>, the region's plan for growth through the year 2030, directs us to achieve this vision by eliminating unfair, preventable, and 
		systematic differences between groups that not only harm individuals and families, but threaten the vibrancy of our region.		
	</p>
	
	<p class="span-16 last">The MetroFuture region is one where:</p>
	
	<ul class="prepend-1 span-14 last">
		<li>A wider diversity of housing types are built in all of the region’s communities (Goal #16), 
			helping to combat racial/ethnic and income-based segregation (<a href="http://metrofuture.org/goal/15" title="There will be less regional segregation as all municipalities increasingly reflect Metro Boston's growing diversity.">Goal #15</a>),</li>
		<li>Historically disadvantaged communities are healthier, with increased access to healthy food (<a href="http://metrofuture.org/goal/24" title="Residents in all communities and of all incomes will have access to affordable, healthy food.">Goal #24</a>), 
			green space (<a href="http://metrofuture.org/goal/23" title="All neighborhoods will have access to safe and well-maintained parks, community gardens, and appropriate play spaces for children and youth.">Goal #23</a>), better air quality (<a href="http://metrofuture.org/goal/22" title="Urban and minority residents will not be disproportionately exposed to pollutants and poor air quality.">Goal #22</a>) and medical care (<a href="http://metrofuture.org/goal/26" title="All residents will have access to affordable healthcare.">Goal #26</a>),</li>
		<li>Healthy and convenient transportation options are available throughout the region, particularly in traditionally 
			under-served areas (<a href="http://metrofuture.org/goal/44" title="An expanded transit system will provide better service to both urban and suburban areas, linking more homes and jobs.">Goal #44</a>),</li>
		<li>All of the region’s residents are equipped with all of the tools they need to succeed in today’s economy (<a href="http://metrofuture.org/goal/29" title="More students will graduate from high school and go on to college or career training opportunities.">Goal #29</a>), 
			and resources for small businesses and first-time homeowners will help many build wealth for future generations (<a href="http://metrofuture.org/goal/38" title="More minority and immigrant workers will have opportunities to advance on the career ladder, acquire assets, and build wealth.">Goal #38</a>).</li>
	</ul>
	
	<div class="span-8">
		<h4>We are Becoming More Diverse</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_population.png" title="Metro Boston Population By Race/Ethnicity, 2009"><img src="{{ MEDIA_URL }}img/index_population.310x218.png" alt="Metro Boston Population By Race/Ethnicity, 2009" width="310" height="218"></a>
		<p>Metro Boston is changing.</p>
		<p>These demographic trends will have huge impacts on the region in decades to come, and the face of the region in 2030 will look substantially different than it did in 2010.<p>
		<ul>
			<li>Our aging population is growing</li>
			<li>The youngest among us our most diverse residents</li>
			<li>We are increasingly foreign-born</li>
		</ul>
	</div>
	
	<div class="span-8 last">
		<h4>We are Becoming Less Equal</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_richestfifth.png" title="The Richest 5th of the Population Earns More than 10 Times that of the Poorest 5th"><img src="{{ MEDIA_URL }}img/index_richestfifth.310x218.png" alt="The Richest 5th of the Population Earns More than 10 Times that of the Poorest 5th" width="310" height="218"></a>
		<p>Inequitable income distribution and highly segregated residential patterns not only harm individuals throughout their lives, 
			but hinder Metro Boston’s potential for equitable growth and prosperity. They are also systematic factors that underpin or 
			exacerbate many of the other findings in this report.</p>
		<ul>
			<li>Income inequality is high in Metro Boston, and it’s growing.</li>
			<li>The region is highly segregated.</li>
			<li>Our regressive tax structure worsens income inequality.</li>
		</ul>
	</div>
	
	<h3 class="span-16 last index">Inequity Impacts Us at Each Stage of Our Lives</h3>
	
	<div class="span-4 lifestage children">
		<h4><strong>CHILDREN</strong> as they try to grow up healthy, learn, and play.</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_minorities.png" title="Minorities, Less than Age 14 as Percentage of Total Population, 2005-2009"><img src="{{ MEDIA_URL }}img/index_minorities.150x107.png" alt="Minorities, Less than Age 14 as Percentage of Total Population, 2005-2009" width="150" height="107"></a>
		<p>White children and children of color rarely grow up side-by-side in Metro Boston.</p>
	</div>
	<div class="span-4 lifestage youngadults">
		<h4><strong>YOUNG ADULTS</strong> as they try to learn, stay safe, and establish independence.</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_youngadults.png" title="High School Dropout Rates 2009"><img src="{{ MEDIA_URL }}img/index_youngadults.150x87.png" alt="High School Dropout Rates 2009" width="150" height="87"></a>
		<p>Dropout rates for African American and Latino teens are vastly higher than those for whites and Asians.</p>
	</div>
	<div class="span-4 lifestage adults">
		<h4><strong>ADULTS</strong> as they try to make a good living, build a home, and stay healthy</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_medianhousingcosts.png" title="Median Housing Costs Burden for Massachusetts Renters and Owners"><img src="{{ MEDIA_URL }}img/index_medianhousingcosts.150x101.png" alt="Median Housing Costs Burden for Massachusetts Renters and Owners" width="150" height="101"></a>
		<p>About half of all renters in the region are costburdened by housing.</p>
	</div>
	<div class="span-4 last lifestage seniors">
		<h4><strong>SENIORS</strong> as they try to remain active, retire comfortably, and stay connected.</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_grandparents.png" title="Metro Boston Grandparents Responsible for Grandchildren, by Poverty Status, 2009"><img src="{{ MEDIA_URL }}img/index_grandparents.150x109.png" alt="Metro Boston Grandparents Responsible for Grandchildren, by Poverty Status, 2009" width="150" height="109"></a>
		<p>Grandparents raising grandchildren are especially impacted by poverty.</p>
	</div>
		  			
{% endblock %}