{% extends "base.html" %}
{% load i18n %}

{% block menu %}

{% for topicarea in topicareas %}

<h4 class="{{ topicarea.slug }}"><a href="{{ base_url }}{{ topicarea.slug }}" title="{{ topicarea.title }}">{{ topicarea.title }}</a></h4>

{% endfor %}

{% endblock %}

{% block nocol %}
									
	<p class="index quote prepend-1 span-13 last">An equitable region, where "all people have full and equal access to opportunities that enable them to attain their full potential" 
		is one featuring a diverse labor force prepared for the region’s knowledge economy; healthy residents and low health care costs; 
		and communities where people of different ages, incomes, races and ethnicities have real options to live, work, learn and play side by side.</p>
	
	<p class="span-16 last">
		<a href="http://metrofuture.org" title="MetroFuture - Making a Greater Boston Region">MetroFuture</a>, the region's plan for growth through the year 2030, directs us to achieve this vision by eliminating unfair, preventable, and 
		systematic differences between groups that not only harm individuals and families, but threaten the vibrancy of our region.		
	</p>
	
	<p class="span-16 last"><a href="" title="The State of Equity in Metro Boston"><img class="index" src="{{ MEDIA_URL }}img/report_cover.png" width="46" height="54" alt="The State of Equity in Metro Boston"></a>The <strong>indicators report</strong> is the first report in MAPC's Regional Indicators program, which establishes a baseline for our 
		equity-related indicators and will track the region's progress towards the MetroFuture goals.</p>
	
	<p class="span-16 last">The <strong>policy report</strong> will be released later in 2011, and will identify key policy and programmatic recommendations to 
		"bend the trends" towards greater regional equity. MAPC will reach out to a wide variety of stakeholders in translating our data findings 
		to policy; stay in touch to learn more.</p>
	
	<div class="span-8">
		<h4 class="index">We are Becoming More Diverse</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_population.png" title="Metro Boston Population By Race/Ethnicity, 2009"><img src="{{ MEDIA_URL }}img/index_population.310x218.png" alt="Metro Boston Population By Race/Ethnicity, 2009" width="310" height="218"></a>
		<p class="index caption">Metro Boston is changing. The face of the region in 2030 will look substantially different than it does now.</p>
	</div>
	
	<div class="span-8 last">
		<h4 class="index">We are Becoming Less Equal</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_richestfifth.png" title="The Richest 5th of the Population Earns More than 10 Times that of the Poorest 5th"><img src="{{ MEDIA_URL }}img/index_richestfifth.310x218.png" alt="The Richest 5th of the Population Earns More than 10 Times that of the Poorest 5th" width="310" height="218"></a>
		<p class="index caption">Segregation not only harms individuals but also hinders Metro Boston's potential for equitable growth and prosperity.</p>
	</div>
	
	<h3 class="span-16 last index">Inequity Impacts Us at Each Stage of Our Lives</h3>
	
	<div class="span-4 lifestage children">
		<h4>CHILDREN as they try to grow up healthy, learn, and play.</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_minorities.png" title="Minorities, Less than Age 14 as Percentage of Total Population, 2005-2009"><img src="{{ MEDIA_URL }}img/index_minorities.150x107.png" alt="Minorities, Less than Age 14 as Percentage of Total Population, 2005-2009" width="150" height="107"></a>
		<p class="index caption">White children and children of color rarely grow up side-by-side in Metro Boston.</p>
	</div>
	<div class="span-4 lifestage youngadults">
		<h4>YOUNG ADULTS as they try to learn, stay safe, and establish independence.</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_youngadults.png" title="High School Dropout Rates 2009"><img src="{{ MEDIA_URL }}img/index_youngadults.150x87.png" alt="High School Dropout Rates 2009" width="150" height="87"></a>
		<p class="index caption">Dropout rates for Black/African American and Latino teens are vastly higher than those for Whites and Asians.</p>
	</div>
	<div class="span-4 lifestage adults">
		<h4>ADULTS as they try to make a good living, build a home, and stay healthy</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_medianhousingcosts.png" title="Median Housing Costs Burden for Massachusetts Renters and Owners"><img src="{{ MEDIA_URL }}img/index_medianhousingcosts.150x101.png" alt="Median Housing Costs Burden for Massachusetts Renters and Owners" width="150" height="101"></a>
		<p class="index caption">About half of all renters in the region are cost-burdened by housing.</p>
	</div>
	<div class="span-4 last lifestage seniors">
		<h4>SENIORS as they try to remain active, retire comfortably, and stay connected.</h4>
		<a class="graph" href="{{ MEDIA_URL }}img/index_grandparents.png" title="Metro Boston Grandparents Responsible for Grandchildren, by Poverty Status, 2009"><img src="{{ MEDIA_URL }}img/index_grandparents.150x109.png" alt="Metro Boston Grandparents Responsible for Grandchildren, by Poverty Status, 2009" width="150" height="109"></a>
		<p class="index caption">Grandparents raising grandchildren are especially impacted by poverty.</p>
	</div>
		  			
{% endblock %}