{% extends "base.html" %}
{% load i18n %}

{% block title %}

{{ active_indicator }} | {{ active_topicarea.title }} | 

{% endblock %}

{% block indicator_title %}

	<h2 class="{{ active_topicarea.slug }}"><span>{{ active_topicarea.title }}: {{ active_indicator }}</span></h2>
	
	{% if user.is_staff %}
	
	<a class="small" href="{% url admin:indicators_indicator_change active_indicator.id %}">edit</a>
	
	{% endif %}

{% endblock %}

{% block content %}
	
	{% if active_indicator.findings %}
									
	<h3>Findings</h3>
	
	{{ active_indicator.findings|safe }}
	
	{% endif %}
	
	{% if active_indicator.impoimpl %}
	
	<h3>Importance and Implications</h3>
	
	{{ active_indicator.impoimpl|safe }}
	
	{% endif %}
		  			
{% endblock %}

{% block graphs %}

	{% for graph in active_indicator.graph_set.all|dictsort:"order" %}
	
		{% if graph.pub %}
		
			<a href="{{ graph.img.url }}" title="{{ graph.caption }}" class="graph"><img src="{{ graph.img.url_220x440 }}" alt="{{ graph.title }}"></a>
			<p class="small caption">{{ graph.title }}</p>

		{% endif %}
	
	{% endfor %}

	{% if related_objects %}
	<div id="related">
	<h4>Related</h4>
	<ul>
	{% for related_object in related_objects %}
	{% if related_object.pub %}
		<li>{% if related_object.img %}
			<a href="{{ related_object.img.url }}" class="graph" title="{{ related_object.caption }}" 
			{% else %}{% if related_object.topicarea %} 
			<a href="{{ base_url }}{{ related_object.topicarea.slug }}/{{ related_object.slug }}"
			{% else %}
			<a href="{{ base_url }}{{ related_object.slug }}"
			{% endif %}{% endif %} title="{{ related_object.title }}">{{ related_object.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
	</div>	
	{% endif %}				
{% endblock %}