{% extends "base.html" %}
{% load i18n %}

{% block title %}

{{ active_indicator }} | {{ active_topicarea.title }} | 

{% endblock %}

{% block indicator_title %}

	<h2 class="{{ active_topicarea.slug }}"><span>{{ active_topicarea.title }}: {{ active_indicator }}</span></h2>
	
	{% if user.is_staff %}
	
	<a class="small" href="{{ base_url|slice:'1:' }}{% url admin:indicators_indicator_change active_indicator.id %}">edit</a>
	
	{% endif %}

{% endblock %}

{% block content %}
	
	{% if active_indicator.findings %}
									
	<h3>Findings</h3>
	
	{{ active_indicator.findings|safe }}
	
	{% endif %}
	
	{% if active_indicator.impoimpl %}
	
	<h3>Importance and Implications</h3>
	
	{{ active_indicator.impoimpl|safe }}
	
	{% endif %}
		  			
{% endblock %}

{% block graphs %}
				
	{% for graph in active_indicator.graph_set.all|dictsort:"order" %}
	
		{% if graph.pub %}
		
			<a href="{{ graph.img.url }}" title="{{ graph.caption }}"><img src="{{ graph.img.url_220x440 }}" alt="{{ graph.title }}"></a>
			<p class="small caption">{{ graph.title }}</p>

		{% endif %}
	
	{% endfor %}
						
{% endblock %}