{% extends "base.html" %}
{% load i18n %}

{% block title %}

References | 

{% endblock %}

{% block indicator_title %}

	<h2 class="references"><span>References</span></h2>

{% endblock %}

{% block reference %}

<h4 class="references"><a href="{{ base_url }}references/" title="References">Reference and<br>Navigation</a></h4>

<ul>
	
	<li class="active"><a href="{{ base_url }}references/" title="References">References</a></li>
	
{% for menu_item in meta_items %}
	
		<li><a href="{{ base_url }}references/{{ menu_item.slug }}" title="{{ menu_item.title }}">{{ menu_item.title }}</a></li>
	
{% endfor %}
</ul>
			
{% endblock %}

{% block nocol %}

	{% for reference in references %}
	
	<h4 class="reference"><a href="{{ base_url }}references/{{ reference.number }}/" class="reference-nr">{{ reference.number }}</a>: </h4>{{ reference.content|safe }}
	
	{% endfor %}
		  			
{% endblock %}