{% extends "base.html" %}
{% load i18n %}

{% block title %}

References | 

{% endblock %}

{% block indicator_title %}

	<h2 class="references"><span>Reference and Navigation</span></h2>

{% endblock %}

{% block reference %}

<h4 class="references"><a href="{{ base_url }}references/" title="References">Reference and<br>Navigation</a></h4>

<ul>
	
{% for menu_item in meta_items %}
	
		<li><a href="{{ base_url }}references/{{ menu_item.slug }}" title="{{ menu_item.title }}">{{ menu_item.title }}</a></li>
	
{% endfor %}

		<li><a href="{{ base_url }}references/list/" title="References">References</a></li>
</ul>
			
{% endblock %}

{% block nocol %}

	Use the left sidebar to find information on references, racial/ethnic categories used and their limitations, data sources,  glossary, and a guide to geographies.
		  			
{% endblock %}