{% extends "base.html" %}
{% load i18n %}

{% block indicator_title %}

	<h2 class="{{ active_topicarea.slug }}">{{ active_topicarea.title }}</h2>

{% endblock %}

{% block content %}
								
	{{ active_topicarea.overview|safe }}
		  			
{% endblock %}

{% block graphs %}
				
	{% for graph in active_topicarea.graph_set.all %}
		
		<a href="{{ graph.photo.url }}" title="{{ graph.title }}"><img src="{{ graph.photo.url_125x125 }}" alt="{{ graph.title }}"></a>
		{{ graph.caption }}
	
	{% endfor %}
					
				
{% endblock %}