{% extends "base.html" %}
{% load i18n %}

{% block title %}

{{ active_topicarea.title }} | 

{% endblock %}

{% block indicator_title %}

	<h2 class="{{ active_topicarea.slug }}"><span>{{ active_topicarea.title }}</span></h2>

	{% if user.is_staff %}
	
	<a class="small" href="{% url admin:indicators_topicarea_change active_topicarea.id %}">edit</a>
	
	{% endif %}

{% endblock %}

{% block textcol %}
	
	{% if active_topicarea.overview %}
	
	<h3>Overview</h3>
								
	{{ active_topicarea.overview|safe }}
	
	{% endif %}
		  			
{% endblock %}

{% block imagecol %}
		
	{% for graph in active_topicarea.graph_set.all|dictsort:"order" %}
	
		{% if graph.pub %}
		
			<a href="{{ graph.img.url }}" title="{{ graph.caption }}" class="graph"><img src="{{ graph.img.url_268x536 }}" alt="{{ graph.title }}"></a>
			<p class="small caption">{{ graph.title }}</p>

		{% endif %}
	
	{% endfor %}
						
{% endblock %}