{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}The State of Equity in Metro Boston</title>
		<meta name="description" content="The State of Equity in Metro Boston">
		<meta name="keywords" content="Boston, Equity, Report, Indicator">
		<meta name="author" content="MAPC">
		
		<!-- geotags -->
		<meta name="DC.title" content="The State of Equity in Metro Boston"> 
		<meta name="geo.placename" content="Boston">
		<meta name="geo.position" content="42.34;-71.08">
		<meta name="geo.region" content="US-MA">
		<meta name="ICBM" content="42.34;-71.08">
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
		
		<!-- Stickyfooter http://www.cssstickyfooter.com -->
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sticky-footer.css" media="screen">	
		
		<!-- jQuery lightbox plugin styles -->
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.lightbox-0.5.css" media="screen">
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen">
		
		<script type="text/javascript">
		
		/* create new account
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-5547782-7']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		*/
		</script>
		
    </head>
    <body>
	<div id="wrap">
		<div id="main" class="container">
			<div class="span-24 last" id="head">
				
				<a href="http://www.mapc.org" title="Metropolitan Area Planning Council"><img src="{{ MEDIA_URL }}img/mapc-logo.png" width="160" height="80" alt="MAPC logo"></a><h1><a href="/">The State of Equity in Metro Boston</a> <span class="draft">draft</span></h1>	
				
  			</div>
			
			<div class="span-5" id="menu">
				
				{% block menu %}
				
					{% for topicarea in topicareas %}
	
					{% if topicarea.id == active_topicarea.id %}
						
						<h4 class="{{ topicarea.slug }} active"><a href="{{ base_url }}{{ topicarea.slug }}" title="{{ topicarea.title }}">{{ topicarea.title }}</a></h4>
						<ul>
						{% for indicator in topicarea.indicator_set.all %}
						
							{% if indicator.id == active_indicator.id %}
							
								<li class="active"><a href="{{ base_url }}{{ topicarea.slug }}/{{ indicator.slug }}" title="{{ indicator.title }}">{{ indicator.title }}</a></li>
							
							{% else %}
							
								<li><a href="{{ base_url }}{{ topicarea.slug }}/{{ indicator.slug }}" title="{{ indicator.title }}">{{ indicator.title }}</a></li>
							
							{% endif %}
							
						{% endfor %}
						</ul>
					
					{% else %}
				
						<h4 class="{{ topicarea.slug }}"><a href="{{ base_url }}{{ topicarea.slug }}" title="{{ topicarea.title }}">{{ topicarea.title }}</a></h4>
					
					{% endif %}
				
				{% endfor %}
				
				{% endblock %}
				
				<h4 class="general">Reference and Navigation</h4>
				
			</div>
			
			<div id="content" class="span-19 last">
				
				{% block indicator_title %}{% endblock %}
			
				<div class="span-13">
		    	
				{% block content %}{% endblock %}	
				
				</div>
				
				<div class="span-6 last" id="imagecol">
						
				{% block graphs %}{% endblock %}
						
				</div>
			
			</div>
			
		</div>
	
	</div>
	
	<div id="footer" class="container small">
		
		Questions? Ask <a href="http://www.mapc.org/about-mapc/staff/mariana-arcaya" title="Mariana Arcaya">Mariana</a> for support.
		
	</div>
	
	<!-- Add jQuery From the Google AJAX Libraries and local plugins --> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>	
	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
	
	<!-- Add jQuery From the Google AJAX Libraries and local plugins --> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lightbox-0.5.min.js"></script>
	
	<!-- main script --> 
	<script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
	
    </body>
</html>
